:root {
  --font-family-danger: 'Another Danger', sans-serif;
  --font-family-montserrat: 'Montserrat Bold', sans-serif;
  --font-family-earth: 'Earth Orbiter', sans-serif;
  --font-family-bebas: 'Bebas Neue', sans-serif;
  --font-family-wensley: 'Wensley', sans-serif;
}

@font-face{
  font-family: 'Another Danger';
  font-style: normal;
  src: url('../typography/Another-Danger.ttf')  format('truetype');
}

@font-face{
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url('../typography/Montserrat-Bold.ttf')  format('truetype');
}

@font-face{
  font-family: 'Earth Orbiter';
  font-style: normal;
  src: url('../typography/earthorbiter.ttf')  format('truetype');
}

@font-face{
  font-family: 'Bebas Neue';
  font-style: normal;
  src: url('../typography/BebasNeue-Regular.ttf')  format('truetype');
}

@font-face{
  font-family: 'Wensley';
  font-style: normal;
  src: url('../typography/Wensley.ttf')  format('truetype');
}